* {
  box-sizing: border-box;
  /* 위아래로 떠있는 부분 붙이기 */
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  background-color: rgb(253, 240, 245);
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

/* class를 지정할 때에는 앞에 . 붙이기 */
.container {
  max-width: 1100px;
  margin: 0 auto;
  /* 위아래는 0, 좌우로 30픽셀 띄우기 */
  padding: 30px 30px;
}

.main {
  color: blue;
  /* 글간격 */
  line-height: 2.5;
}

.navbar {
  background-color: black;
  color: white;
  height: 60px;
}

/* navbar 안에 있는 container, section안의 container와 구분 */
.navbar .container {
  display: flex;
  /* 가로로 정렬 */
  flex-direction: row;
  /* 좌우 끝으로 정렬 */
  justify-content: space-between;
  /* 위아래로 가운데정렬 */
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  /* 세로로 정렬은 :  ; */
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* 마우스가 올라갔을 때 */
.navbar a:hover {
  border-bottom: 2px #aaa solid;
  color: #aaa;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bolder;
}

button {
  padding: 5px 10px;
  /* 숫자를 하나만 쓰면 4방향 다 그 값으로, 4개쓰면 시계방향으로 패딩픽셀 설정 */
  margin: 4px;
  font-size: small;
  font-style: italic;
  background-color: lightgray;
  border-width: 1px;
  border-radius: 5px 10px;
}

button:hover {
  color: red;
  background-color: aquamarine;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
